<div class="author">
	{{#if author.image}}
		<div class="author-image">
			<img src="{{author.image}}"></img>
		</div>
	{{/if}}
	
	<div class="author-description">
	    <a href="{{author.website}}">{{author.name}}</a>
	    <p class="author-bio center">{{author.bio}}</p>
	</div>
</div>
<div class="clear"></div>